/**********************************************************************
 [PANTONE® Ponder Palette][palettes]

 [palettes]: https://www.pantone.com/color-intelligence/color-of-the-year/color-of-the-year-2020-palette-exploration
***********************************************************************/
$pinkish: #e56b6b;
$dawn: #dd5151;
$love: #ba3434;
$rose: #ab1f1f;
$blood: #940808;