/***********************************************************************
FSWD:  Christopher B. Zenner
Date:  05/11/2020
File:  style.css
Ver.:  0.1.0 20200511

This CSS specifies the layout and style for the FriendFinder Node app.
***********************************************************************/
@use 'components/debug-borders' as debug;
@use 'components/friendfinder-fonts' as fonts;
@use 'components/css-tricks-fluid-type' as fluid;
@use 'components/shades-of-love-palette' as palette;
@use 'components/rounded-bottom-borders' as borders;

/***********************************************************************
 Global Elements
***********************************************************************/
$max-font: 18px;
$max-width: 1280px;
$min-font: 15px;
$min-width: 320px;

$almost-midnight: #0f0f0f;
$hazy-skies: #f0f0f0;
$twister: #2b2b2b;
$cloudy-day: #d4d4d4;
$rain: #b8b8b8;
$thunderstorm: #636363;

* {
  /* Make widths static */
  box-sizing: border-box;
}

html, main.container {
  height: 100%;
}

body {
  background-color: $hazy-skies;
  background-image: url("../img/watercolor.png");
  color: $almost-midnight;
  font-family: fonts.$sans-serif-font-stack;
  height: 95%;
  line-height: 1.5em;
}

.blood {
  color: palette.$blood;
} 

.gray {
  color: $thunderstorm;
}

/***********************************************************************
 Navigation Elements
***********************************************************************/
a, a:active, a:hover, a:visited {
  color: $almost-midnight;
  font-weight: 300;
  font-size: 0.9375rem;
}

/***********************************************************************
 Main Content
***********************************************************************/
.card {
  border-color: $rain;
  margin-top: 1rem;
}

#little-friends {
  width: 100%;
}

h4 {
  font-family: fonts.$handwriting-font-stack;
}

h5 {
  margin-top: 1rem;
}

#survey {
  background-color: $hazy-skies;
  border: 1px solid $thunderstorm;
  border-radius: 4px;
  padding: 2rem 3rem;
}

form {
  margin-top: 1rem;
  
  h2 {
    @include borders.rounded-bottom-border($thunderstorm, 1px);
    margin-top: 2rem;
  }

  h6 {
    font-size: 1.125rem;
    font-weight: 700;
  }

  .form-check {
    margin: 1rem 0.25rem;
  }
}

button {
  margin-top: 2vh;
}

.btn-outline-dark {
  border-color: $twister;
  color: $twister;

  &:active, &:hover {
    background-color: $twister;
    color: white;
  }
}

#dev-links {
  margin-top: 1vh;
  margin-bottom: 12vh;
}

/***********************************************************************
 Modals
***********************************************************************/
.modal {
  #alert-icon {
    color: palette.$blood;
    font-size: 2rem;
    margin-top: 1rem;
  }

  #alert-msg {
    font-weight: 700;
  }

  .btn-outline-danger {
    border-color: palette.$blood;
    color: palette.$blood;
  
    &:active, &:hover {
      background-color: palette.$blood;
      color: white;
    }
  }

  .btn-outline-dark {
    border-color: $thunderstorm;
    color: $thunderstorm;
  
    &:active, &:hover {
      background-color: $thunderstorm;
      color: white;
    }
  }
}

#friend-modal {
  #match-photo {
    max-width: 480px;
    width: 100%;
  }
}

/***********************************************************************
 Footer Elements
***********************************************************************/
.fixed-bottom {
  border-top: 5px palette.$blood solid;
  height: 10vh;
}

footer {
  background: $almost-midnight;
  color: white;

  #copyright {
    font-size: 0.875rem;
    font-weight: 700;
    margin: 0.25vh 0;
  }

  #attribution, 
  a, a:active, a:hover, a:visited {
    font-size: 0.8125rem;
    font-weight: 400;
  }

  a, a:active, a:hover, a:visited {
    color: palette.$pinkish;
  }
} 